* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16d9e3;
}

.start {
  font-size: 24px;
}

h1 {
  line-height: 1.4;
  font-size: 60px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 16px;
  font-size: 24px;
}

.time-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16d9e3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 640px;
  height: 480px;
  background: linear-gradient(118.38deg, yellow -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 8px;
  overflow: hidden;
}

.square {
  background: white;
  position: absolute;
  cursor: pointer;
}
